<div class="itinerary wide-container clear-fix">
  <div>
    <h3 class="sticky">Schedule</h3>
    <ol>
      {{#each events as |event|}}
        <li>
          <h4>{{event.title}}</h4>
          {{date-range event.startsAt event.endsAt}}<br>
          {{#if event.venue}}
            <a href="#{{event.venue.location.name}}">{{event.venue.location.name}}</a><br>
          {{/if}}
          {{#each event.guests as |guest|}}
            {{guest.role}} <a href="#{{guest.person.name}}">{{guest.person.name}}</a>
          {{/each}}
          {{#if event.description}}
            {{post-body mobiledoc=event.description tagName='' cardNames=(list 'youtube' 'photo' 'ticket' 'itinerary' 'gallery') atomNames=(list 'line-break')}}
          {{/if}}
        </li>
      {{/each}}
    </ol>
  </div>
</div>