<div class="container location">
  {{#if location.name}}
    <h3 class='sticky'>
      {{~#if location.website~}}
        <a target="_blank" href="{{location.website}}">{{location.name}}</a>
      {{~else~}}
        {{location.name}}
      {{~/if~}}
    </h3>
  {{/if}}
  {{location.addressLine}}<br>
  {{#if location.extendedAddress}}
    {{location.extendedAddress}}<br>
  {{/if}}
  {{location.city}}{{#if location.regionCode}}, {{location.regionCode}}{{/if}}{{#if location.postalCode}} {{location.postalCode}}{{/if}}<br>
  <a target="_blank" href="https://www.google.com/maps/dir//{{location.latitude}},{{location.longitude}}/@{{location.latitude}},{{location.longitude}},15z">Directions</a>
</div>