{{#if (equals size 'large')}}
  <figure class="size-{{payload.size}}">
    <img src="{{paylod.url}}" alt="{{payload.title}}">
    <figcaption>
      {{payload.caption}}
    </figcaption>
  </figure>
{{else if (equals size 'medium')}}
  <div class='wide-container'>
    <figure class="align-{{payload.align}} size-{{payload.size}}">
      <img src="{{payload.url}}" alt="{{payload.title}}">
      <figcaption>
        {{payload.caption}}
      </figcaption>
    </figure>
  </div>
{{else}}
  <div class='container clear-fix'>
    <figure class="align-{{payload.align}} size-{{payload.size}}">
      <img src="{{payload.url}}" alt="{{payload.title}}">
      <figcaption>
        {{payload.caption}}
      </figcaption>
    </figure>
  </div>
{{/if}}
